{% extends "testapp/base.html" %}
 <div class="container report-container">
    <div class="report-box">
        <h2 class="login-title">Project Report Summary</h2>
        <div class="chart-container">
            <canvas id="progressChart"></canvas>
            </div>
            <div class="btn-group mt-4">
                <button class="btn btn-info">Cost Spent</button>
                <button class="btn btn-info">Expected Completion</button>
                <button class="btn btn-info">Efficiency</button>
            </div>
    </div>
    </div>

